{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<section id="horizontal-bar">
  <div class="page-header">
    <h2>Horizontal Bar <small>used for comparing many values in a single series</small></h2>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <h3>All Opportunities By Lead Source</h3>
      <p>A horizontal bar chart with stacked data. [<a href="styleguide/content/charts/multiBarChart.html?orientation=horizontal" target="_blank">Full Screen</a> | <a href="styleguide/content/charts/multiBarChart_colors.html?orientation=horizontal" target="_blank">Color Options</a>]</p>
      <div>
<div id="horiz1" class="nv-chart">
<svg></svg>
</div>
      </div>
    </div>
    <div class="span6">
      <h3>Short/Long Horizontal Bar</h3>
      <p>A horizontal bar chart relative to a baseline. [<a href="styleguide/content/charts/multiBarChart.html?orientation=horizontal&file=multibar_data_negative" target="_blank">Full Screen</a>]</p>
      <div>
<div id="horiz2" class="nv-chart">
<svg></svg>
</div>
      </div>
    </div>
  </div>
</section>
